@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #DE953F;
}

/* style class */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}
.j-center {
    justify-content: center;
}

.g1 {
    gap: 1rem;
}
.g2 {
    gap: 2rem;
}
.g3 {
    gap: 3rem;
}

.t-center {
    text-align: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* header */
header {
    background: var(--primary-color);
}

.header {
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    font-weight: 900;
}

.header .logo {
    width: 220px;
}

.header .kind {
    width: 220px;
}
/* main */

/* footer */
footer {
    background: var(--primary-color);
    height: 200px;
    position: relative;
}

.footer .texts {
    font-size: 14px;
    width: 320px;
}

.footer button {
    position: absolute;
    left: 48%;
    top: 0;
    border: 0;
    background: none;
    font-size: 1.2rem;
}

.footer button i {
    display: block;
}

.sns img {
    width: 50%;
}

