/* menu */
.m-title {
    font-size: 3rem;
    padding: 5rem 0;
}

/* tabs */
.s-title {
    font-size: 1.4rem;
    font-weight: 800;
    position: relative;
}

.s-title .goobun {
    position: absolute;
    top: 30%;
    left: 16%;
    width: 1120px;
    border: 1px solid black;
}

.tabs {
    position: relative;
    height: 650px;
}

.t-title {
    margin: 5rem 0;
    position: relative;
    font-size: 1.2rem;
}

.t-title li:first-child {
    background: var(--primary-color);
}

.t-title li {
    border-radius: 30px;
    background: white;
    font-weight: 900;
    padding: 1rem;
}

/* tabs-body */
.t-body1 {
    background: url("../images/sig1.png") no-repeat left;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 10%;
    left: 21%;
    margin-top: 3rem;
}

.tabs h4 {
    padding-top: 180px;
    padding-left: 460px;
    font-size: 1.2rem;
}

.tabs p {
    padding-top: 40px;
    padding-left: 460px;
    font-weight: 600;
}

/* bd , cj*/
.bd-title,
.cj-title {
    margin: 4rem 0;
    font-size: 1.4rem;
    font-weight: 800;
    position: relative;
}

.bd-title .goobun,
.cj-title .goobun {
    position: absolute;
    top: 30%;
    left: 16%;
    width: 1120px;
    border: 1px solid black;
}


.bd-body,
.cj-body {
    height: 400px;
}

.bd-body li,
.cj-body li {
    height: 230px;
    border-radius: 50%;
    position: relative;
}

.bd-body li:hover,
.cj-body li:hover {
   border: 1px solid black;
}

.bd-body li:hover img,
.cj-body li:hover img {
    opacity: 30%;
}

.bd-body li .price {
    font-size: 0.8rem;
    line-height: 25px;
    position: absolute;
    top: 35%;
}


.cj-body li .price {
    font-size: 0.8rem;
    line-height: 25px;
    position: absolute;
    top: 60%;
    left: 27%;
}

.bd-body li:hover .price,
.cj-body li:hover .price {
    display: block;
}


.bd-body i,
.cj-body i {
    line-height: 250px;
}

.bd-body li,
.cj-body li {
    text-align: center;
    font-weight: 700;
}

.bd-body li img {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    width: 220px;
    height: 200px;
}

.cj-body li img {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    width: 220px;
    height: 200px;
}

.bd-body p,
.cj-body p {
    margin-top: .5rem;
    font-weight: 600;
}