body {
    background: var(--bg-color);
}

/* menu */
.m-title h2 {
    margin: 5rem 0;
    font-size: 3rem;
}

.m-title .line {
    margin: 5rem auto;
    border: 1px solid black;
}
/* tabs */
.s-title {
    font-size: 1.4rem;
}

.tabs {
    position: relative;
    height: 700px;
}

.t-title {
    margin: 5rem 0;
}

.t-title li:first-child {
    background: var(--primary-color);
}

.t-title li {
    border-radius: 30px;
    background: white;
    font-weight: 900;
    padding: 1rem;
}

/* tabs-body */
.t-body1 {
    background: url("../images/sig1.png") no-repeat left;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 730px;
    height: 500px;
    position: absolute;
    top: 10%;
    left: 24%;
    margin-top: 3rem;
}

.tabs h4 {
    padding-top: 180px;
    padding-left: 440px;
}

.tabs p {
    padding-top: 40px;
    padding-left: 440px;
}

/* bd , cj*/
.bd-title,
.cj-title {
    margin: 5rem 0;
    font-size: 1.4rem;
}

.bd-body,
.cj-body {
    height: 400px;
}


.bd-body i,
.cj-body i {
    line-height: 250px;
}

.bd-body li,
.cj-body li {
    text-align: center;
}

.bd-body li img {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    width: 220px;
    height: 200px;
}

.cj-body li img {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    width: 230px;
    height: 200px;
}

.bd-body p,
.cj-body p {
    margin-top: .5rem;
    font-weight: 600;
}