/* menu */
.m-title h2 {
    margin: 5rem 0;
    font-size: 3rem;
}

.m-title .line {
    margin: 5rem auto;
    border: 1px solid black;
}
/* tabs */
.tabs {
    position: relative;
    height: 600px;
}

.t-title {
    margin: 5rem 0;
}

.t-title li:first-child {
    background: var(--primary-color);
}
.t-title li {
    border-radius: 30px;
    background: rgb(195, 195, 195);
    font-weight: 700;
    padding: 1rem;
}

/* tabs-body */
.t-body1 {
    background: url("../images/sig1.png") no-repeat;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 23%;
    margin-top: 3rem;
}

.tabs h4 {
    padding-top: 40px;
    padding-left: 480px;
}

.tabs p {
    padding-top: 40px;
    padding-left: 480px;
}

/* bd , cj*/
.bd-title,
.cj-title {
    margin: 5rem 0;
}

.bd-body,
.cj-body {
    height: 400px;
}

.bd-body i,
.cj-body i {
    line-height: 250px;
}

.bd-body li,
.cj-body li {
    text-align: center;
}

.bd-body li img {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    width: 220px;
    height: 200px;
}

.cj-body li img {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    width: 220px;
    height: 200px;
}